@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-100 p-3 d-flex flex-md-row flex-column justify-content-center align-items-center">
    <div class="text-lg-left text-center">
        <p>get random images and gifs of adorable cats or learn interesting facts about them</p>
    </div>
    <div class="text-center">
        <img src="~/home-cat.png" class="js-tilt" />
    </div>
</div>
