@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-100 py-3 d-flex flex-lg-row flex-column justify-content-center align-items-center">
    <div class="text-lg-right text-center description-wrapper">
        <p>get random images and gifs of adorable cats</p>
        <p>or learn interesting facts about them</p>
    </div>
    <div class="text-center img-wrapper">
        <img src="~/images/home-cat.png" class="js-tilt" />
    </div>
</div>
