@{
    ViewData["Title"] = "Home Page";
}

<div class="container h-100 py-1 d-flex flex-lg-row flex-column justify-content-center align-items-center">
    <div class="px-3 text-lg-left text-center">
        get random images and gifs of adorable cats or learn interesting facts about them
    </div>
    <div class="img-wrapper text-center">
        <img src="~/images/home-cat.png" class="js-tilt" />
    </div>
</div>
