<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CatApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="h-100 d-flex flex-column">
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container-fluid p-0 px-lg-4">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CatApp</a>
                <button class="navbar-toggler dark-accent" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav text-center">
                        <li class="nav-item d-flex flex-column flex-sm-row align-items-center">
                            <a class="nav-link px-2 text-dark" asp-area="" asp-controller="Home" asp-action="CatImage">cat images</a>
                            <img src="~/images/image-cat.png" class="" />
                        </li>
                        <li class="nav-item d-flex flex-column flex-sm-row align-items-center">
                            <a class="nav-link px-2 text-dark" asp-area="" asp-controller="Home" asp-action="CatGif">cat gifs</a>
                            <img src="~/images/gif-cat.png" class="" />
                        </li>
                        <li class="nav-item d-flex flex-column flex-sm-row align-items-center">
                            <a class="nav-link px-2 text-dark" asp-area="" asp-controller="Home" asp-action="CatFact">cat facts</a>
                            <img src="~/images/facts-cat.png" class="" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="h-100">
            @RenderBody()
        </main>
        <footer class="mt-auto text-center footer">
            <div class="container">
                <i class="fas fa-cat"></i> CatApp by <a href="https://www.github.com/agnsm" target="_blank">agnsm</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/148ee6a4f2.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
