
body {
    height: 100vh;
}

nav, footer {
    font-family: 'Patrick Hand', cursive;
    background-color: #f6f3ef;
}

.navbar-brand, footer a {
    transition: 1s;
}


.navbar-brand:hover {
    letter-spacing: 2px;
}

a {
    color: #9b5332;
}

ul > li {
    padding: 0 20px;
    color: #9b5332;
}

ul > li > a::after {
    display: block;
    position: relative;
    left: 50%;
    width: 0;
    content: "";
    height: 2px;
    background: #9b5332;
    transition: width 0.1s ease-in, left 0.2s ease-in;
}

ul > li > a:hover::after {
    width: 100%;
    left: 0;
}

.active-page {
    border-left: 5px solid #9b5332;
}

main {
    font-family: 'Roboto Mono', monospace;
    background-color: #ffb998;
}

.description-wrapper {
    min-width: 40%;
}

p {
    font-size: 20px;
}

.img-wrapper img {
    max-width: 90%;
}

.img-wrapper::after {
    display: block;
    position: relative;
    left: 50%;
    width: 0;
    content: "meow";
    font-family: 'Patrick Hand', cursive;
    color: #9b5332;
    overflow: hidden;
    transition: width 0.5s, left 1s;
}

.img-wrapper:hover::after {
    width: 50%;
    left: 25%;
}

.random-image-wrapper {
    min-width: 80%;
}

.random-image-wrapper img {
    max-height: 65vh;
    max-width: 100%;
}

.btn-next {
    border: 0 solid #f44806;
    background-color: transparent;
    outline: 1px solid;
    outline-color: rgba(244, 72, 6, 1);
    outline-offset: 0px;
    transition: all 1s cubic-bezier(0.22, 1.15, 0.57, 0.9);
}

.btn-next:hover {
    border: 1px solid #f44806;
    box-shadow: inset 0 0 40px rgba(244, 72, 6, 0.5);
    outline-color: rgba(244, 72, 6, 0);
    outline-offset: 20px;
    letter-spacing: 1px;
}

.btn-next:focus {
    outline-color: rgba(244, 72, 6, 1)
}

.footer {
    line-height: 60px;
    font-size: 22px;
}

.footer a:hover {
    text-decoration: none;
    color: #9b5332;
    letter-spacing: 2px;
}

html {
    font-size: 20px;
}

@media (min-width: 768px) {
    html {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 26px;
    }
}
