
body {
    height: 100vh;
}

nav, footer {
    font-family: 'Patrick Hand', cursive;
    background-color: #f6f3ef;
}

main {
    font-family: 'Roboto Mono', monospace;
    background-color: #ffb998;
}

a {
    color: #9b5332;
}

.navbar-brand, footer a {
    transition: 1s;
}

ul > li {
    padding: 0 20px;
    color: #9b5332;
}

ul > li > a::after {
    display: block;
    position: relative;
    left: 50%;
    width: 0;
    content: "";
    height: 2px;
    background: #9b5332;
    transition: width 0.1s ease-in, left 0.2s ease-in;
}

ul > li > a:hover::after {
    width: 100%;
    left: 0;
}

.description-wrapper {
    min-width: 40%;
}

img {
    max-width: 90%;
}

.img-wrapper::after {
    display: block;
    position: relative;
    left: 50%;
    width: 0;
    content: "meow";
    font-family: 'Patrick Hand', cursive;
    color: #9b5332;
    overflow: hidden;
    transition: width 0.5s, left 1s;
}

.img-wrapper:hover::after {
    width: 50%;
    left: 25%;
}

.navbar-brand:hover {
    letter-spacing: 2px;
}

p {
    font-size: 20px;
}

.footer {
    line-height: 60px;
    font-size: 22px;
}

.footer a:hover {
    text-decoration: none;
    color: #9b5332;
    letter-spacing: 2px;
}

html {
    font-size: 20px;
}
@media (min-width: 768px) {
    html {
        font-size: 24px;
    }
}
@media (min-width: 992px) {
    html {
        font-size: 26px;
    }
}
